<body>
<h1>Add Recipe</h1>
<form name="CreateRipe" (ngSubmit)="f.form.valid && submitButtonPressed()" #f="ngForm" novalidate>

  <div class="">
    <div class="formfields">
      <label for="name">Titel</label>
      <input type="text" name="Name" [(ngModel)]="recipe.name" #name="ngModel" required/>
      <div *ngIf="f.submitted && !name.valid">Titel is een vereist veld</div>
      <br>
      <br>
      <label for="description">Beschrijving</label>
      <input type="text" name="Name" [(ngModel)]="recipe.description" #description="ngModel" required/>
      <div *ngIf="f.submitted && !description.valid">Beschrijving is een vereist veld</div>
      <br>
      <br>

      <label for="preparationTime">Bereidingstijd in minuten</label>
      <input type="number" name="Name" [(ngModel)]="recipe.preparationTime" #preparationTime="ngModel" required/>
      <div *ngIf="f.submitted && !preparationTime.valid">Bereidingstijd is een vereist veld</div>
      <br>
      <br>

      <label for="instructions">Instructies</label>
      <input type="text" name="instructions" [(ngModel)]="recipe.instructions" #instructions="ngModel" required/>
      <div *ngIf="f.submitted && !instructions.valid">Instructies is een vereist veld</div>
      <br>
      <label>Stappen:</label>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <button type="button" (click)="addStep()">Stap toevoegen</button>
      <section *ngFor="let step of recipe.steps; let i = index;">
        <br>
        <br>
        <label>Stap {{step.number}}</label>
        <button class="btn btn-danger btn-sm" (click)="removeStep(i)">Verwijder</button>
        <input type="text" [(ngModel)]="step.details" name="step_{{i}}"/>
      </section>
      <br>
      <br>
      <label>Serveringen:</label>
      <input type="number" name="Name" [(ngModel)]="recipe.servings" #servings="ngModel" required/>
      <div *ngIf="f.submitted && !servings.valid">Serveringen is vereist</div>
      <br>
      <br>
      <br>
      <br>
      <section *ngFor="let ingredient of ingredients; let i = index;">
        <button type="button" class="btn btn-danger btn-sm" (click)="removeIngredient(i)">Verwijder</button>
        <input placeholder="Ingredient" type="text" [(ngModel)]="ingredient.name" (keyup)="findIngredient(i)"
               list="ingredientName" name="ingredientName_{{i}}" required/>
        <input placeholder="Measurement" type="text" [(ngModel)]="recipe.ingredients[i].measurement"
               name="ingredientMeasurement_{{i}}" required/>
      </section>

      <button type="button" (click)="addIngredient()">Voeg ingredient toe</button>
      <br>
      <br>
      <br>
      <h5>Upload een JPG of PNG afbeelding</h5>
      <button *ngIf="!showingPictures && recipe.pictures.length > 0" (click)="showPictures" class="btn btn-secondary">
        Toon afbeeldingen
      </button>
      <button *ngIf="showingPictures && recipe.pictures.length > 0" (click)="showPictures" class="btn btn-secondary">
        Verberg afbeeldingen
      </button>

      <section *ngFor="let picture of recipe.dummy; let i = index;">
        <input type="file" (change)="handleUpload0($event)"/>
        <br>

        <section *ngFor="let picture of recipe.pictures; let index = index;">
          <div class="col-6">
            <img *ngIf="showingPictures && i == index" id="picture-preview"
                 src="data:{{picture.type}};base64,{{picture.content}}" alt="Afbeelding" height="150px">
            <button *ngIf="i == index && picture.thumbnail == false" type="button" class="btn btn-danger btn-sm"
                    (click)="setThumbnail(i)">Thumbnail afbeelding
            </button>
            <button *ngIf="i == index && picture.thumbnail == true" type="button" class="btn btn-success btn-sm"
                    (click)="setThumbnail(i)">Thumbnail afbeelding
            </button>
            <button *ngIf="i == index" type="button" class="btn btn-danger btn-sm" (click)="removePicture(i)">Verwijder
              afbeelding
            </button>
          </div>
        </section>

      </section>
      <br>
      <br>
      <br>
      <button class="btn btn-secondary" [disabled]="loading">Recept opslaan</button>


      <datalist id="ingredientName">
        <option *ngFor="let option of ingredientOptions" [value]="option.name">{{option.name}}</option>
      </datalist>


    </div>
  </div>
</form>
</body>
