@font-face {
  font-family: Pacifico;
}

@font-face {
  font-family: Roboto;
}

* {
  font-family: Roboto;
}

#title, h1, h3, h4, h5 {
  font-family: Pacifico;

}

.cont {
  position: relative;
  width: 1140px;
}

.container {
  padding-top: 80px;
}

.top-text-block {
  padding: 5px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.7);
  color: inherit;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

#ingredientsAndStepsRow {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

#createReviewRow {
  padding-bottom: 20px;
}

#reportRow {
  padding-top: 20px;
  padding-bottom: 5px;
}

#reviewsRow {
  margin-bottom: 5px;
}

#pictureDescription {
  color: rgba(0, 0, 0, 1);
}

a {
  color: inherit;
}

h1 {
  font-size: 56px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

h3 {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

h5 {
  padding-top: 10px;
  padding-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0px;
}

li {
  padding-top: 5px;
  padding-bottom: 5px;
}

#recipeCarousel .wrapper {
  position: relative;
  height: 0;
  padding-top: 55%;
}

#recipeCarousel .wrapper > img {
  width: 1140px;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#reviewCarousel .wrapper {
  position: relative;
  height: 0;
  padding-top: 75%;
}

#reviewCarousel .wrapper > img {
  width: 250px;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
