<body>
<div class="container" *ngIf="isLoggedIn">
  <h3 style="text-align: left">Gebruiker Waarschuwen</h3>
  <form role="form" (submit)="submitWarning()">
    <div class="form-group">
      <textarea placeholder="Waarom wilt u deze gebruiker waarschuwen?" class="form-control" id="warningMessage" rows="3" [(ngModel)]="warning.message" name="message"></textarea>
    </div>
    <div class="d-flex justify-content-between align-items-center" style="margin-top: 45px">
      <button id="submit-button" type="submit" class="btn btn-secondary">Waarschuwen</button>
    </div>
  </form>
</div>
</body>
