<body>
<div class="container">
  <h5 style="margin-top: 100px;">Filter Recepten</h5>
  <!-- <div class="col-6">-->
  <!-- <input class="form-control" placeholder="Ingredienten">-->
  <!-- </div>-->
  <div class="col-6">
    <input class="form-control" placeholder="Naam & beschrijving" [(ngModel)]="searchInput"
           (keyup)="searchInputChanged()">


    <datalist id="ingredientName">
      <option *ngFor="let option of ingredientOptions" [value]="option.name">{{option.name}}</option>
    </datalist>

    <section *ngFor="let ingredient of filterIngredients; let i = index;">
      <button type="button" class="btn btn-danger btn-sm" (click)="removeIngredient(i)">Remove Filter</button>
      <input placeholder="Ingredient" type="text" [(ngModel)]="ingredient.name" (keyup)="findIngredient(i)"
             list="ingredientName" name="ingredientName_{{i}}" required/>
    </section>
    <button type="button" (click)="addIngredient()">Add Filter</button>


  </div>
  <hr/>

  <div *ngFor="let recipe of recipes" (click)="openRecipe(recipe.id)" class="row">
    <div>
      <ul *ngIf="recipe.pictures?.length == 0">
        <img src="./assets/image/image-not-found.jpg" width="150px" height="100px">
      </ul>

      <div *ngFor="let pictures of recipe.pictures; let i = index;">
        <ul *ngIf="pictures.thumbnail == true">
          <img [src]="'data:image/jpeg;base64,'+pictures.content" width="150px" height="100px"/>
        </ul>
      </div>
    </div>


    <div class="col-9">
      <h5>{{ recipe.name }}</h5>
      <p>{{ recipe.description }}<br/>
        {{ recipe.preparationTime }} min<br/></p>

      <!--      <p>{{ recipe.pictures[0]| json}}</p>-->
      <!-- Simon Besseling | Voor {{ recipe.servings }} personen | 18 Ingredienten<br/>-->
      <!--<i class="fa fa-star" style="color:gold;"></i>-->
      <!--<i class="fa fa-star" style="color:gold;"></i>-->
      <!--<i class="fa fa-star" style="color:gold;"></i>-->
      <!--<i class="fa fa-star" style="color:gold;"></i>-->
      <!--<i class="fa fa-star" style="color:gray;"></i>-->

    </div>
    <hr/>
  </div>
  <hr/>
</div>

</body>

