<body>
<div class="container">
  <h5 style="margin-top: 100px;">Filter Recepten</h5>
  <div class="col-6">
    <input class="form-control" placeholder="Naam & beschrijving" [(ngModel)]="searchInput"
           (keyup)="searchInputChanged()">


    <datalist id="ingredientName">
      <option *ngFor="let option of ingredientOptions" [value]="option.name">{{option.name}}</option>
    </datalist>

    <section *ngFor="let ingredient of filterIngredients; let i = index;">
      <button type="button" class="btn btn-danger btn-sm" (click)="removeIngredient(i)">Remove Filter</button>
      <input placeholder="Ingredient" type="text" [(ngModel)]="ingredient.name" (keyup)="findIngredient(i)"
             list="ingredientName" name="ingredientName_{{i}}" required/>
    </section>
    <button type="button" (click)="addIngredient()">Add Filter</button>

    <br/>
    <button *ngFor="let selected of scoreFilter;let i=index;" (click)="scoreSelected(i)"
            class="fa fa-star scoreFilterButton"
            [ngClass]="{'selectedStar' : selected,'unselectedStar' : !selected}"></button>
    <style>
      .selectedStar {
        color: gold
      }

      .unselectedStar {
        color: gray
      }
    </style>
    <button *ngIf="!doFilterScore" type="button" (click)="showScoreFilter(true)">Filter by score</button>
    <button *ngIf="doFilterScore" type="button" (click)="showScoreFilter(false)">Remove score filter</button>

  </div>
  <hr/>

  <div *ngFor="let recipe of recipes" (click)="openRecipe(recipe.id)" class="row">
    <div>
      <ul *ngIf="recipe.pictures?.length == 0">
        <img src="./assets/image/image-not-found.jpg" width="150px" height="100px">
      </ul>

      <div *ngFor="let pictures of recipe.pictures; let i = index;">
        <ul *ngIf="pictures.thumbnail == true">
          <img [src]="'data:image/jpeg;base64,'+pictures.content" width="150px" height="100px"/>
        </ul>
      </div>
    </div>


    <div class="col-9">
      <h5>{{ recipe.name }}</h5>
      {{ recipe.description }}<br/>
      {{ recipe.preparationTime }} min | Voor {{recipe.servings}} personen <br/>

      <i *ngFor="let i of [].constructor(recipe.averageScore);" class="fa fa-star" style="color:#ffd700;"></i>
      <i *ngFor="let i of [].constructor(5-recipe.averageScore);" class="fa fa-star" style="color:gray;"></i>
      {{recipe.reviewCount}}
      <a *ngIf="recipe.reviewCount==1">review</a>
      <a *ngIf="recipe.reviewCount!=1">reviews</a>
      <br/>


    </div>
    <hr/>
  </div>
  <hr/>
</div>

</body>

