<body>
<div class="panel">
  <h1>RecipeFinder</h1>
  <h2>Inschrijven</h2>
  <form role="form" (submit)="register()">
    <div class="form-group">
      <input placeholder="Gebruikersnaam" type="text" class="form-control" id="username" name="username"
             [(ngModel)]="credentials.username"/>
    </div>
    <div class="form-group">
      <input placeholder="Wachtwoord" type="password" class="form-control" id="password" name="password"
             [(ngModel)]="credentials.password"/>
    </div>
    <div class="d-flex justify-content-between align-items-center" style="margin-top: 45px">
      <a type="link" routerLink="/login"><b>Ik Heb Al Een Account</b></a>
      <button type="submit" class="btn btn-secondary">Inschrijven</button>
    </div>
  </form>
</div>
</body>
